/* MOBILE  ADJUSTMENTS */
@media (max-width: 576px) {
  h1 {
    font-size: 1.6rem !important;
  }
  h2 {
    font-size: 1.35rem !important;
  }
  h3 {
    font-size: 1.15rem !important;
  }
  h4 {
    font-size: 1rem !important;
  }
  h5 {
    font-size: 0.9rem !important;
  }
  h6,
  p {
    font-size: 0.85rem !important;
  }
}


/* SIDEBAR  */

.sidebar-hover {
  display: block;
  padding: 0.5rem;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.sidebar-hover:hover {
  transform: scale(1.1);
}

/* MOBILE SIDEBAR CENTERING */
@media (max-width: 576px) {
  .sidebar {
    text-align: center;
   
  }

  .backgrnd{
    font-size: x-large !important;
  }

  .sidebar .sidebar-hover {
    justify-content: center;
  }
}

/* PROJECT CARDS homepage */


.project-card {
  height: 180px;
  border-radius: 12px;
  transition: 0.25s ease;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.12);
}

.project-title {
  font-weight: 600;
  word-break: break-word;
}

.project-desc {
  font-size: 0.85rem;
  color: #666;
  line-height: 1.3;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}


/* Sidebar height desktop only */
.sidebar-wrapper {
  min-height: 100vh;
}

/* Mobile fix: stop huge empty gap */
@media (max-width: 767px) {
  .sidebar-wrapper {
    min-height: auto;
    padding-bottom: 0.5rem;
  }

  .main-col {
    padding-top: 0.5rem !important;
  }
}


/* TASK CARDS IN HOMEPAGE */
.task-card {
  border-radius: 12px;
  height: auto;
  min-height: 160px;
  transition: 0.25s ease;
}

.task-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.12);
}

.task-filter-btn {
  min-width: 110px;
  text-align: center;
  border-radius: 8px;
}

/* TASK CARDS IN project details page */

.task-equal-card {
  height: auto; 
  min-height: 160px;
  display: flex;
}

.task-equal-card .card-body {
  flex: 1;
}









